#main {
  text-align: center;
}
.info {
  width: 50%;
  margin: auto;
  border: 1px solid black;
  padding: 30px;
}
.groupField {
  margin-top: 1rem;
}
legend {
  margin-bottom: 0.2rem;
}
.center {
  text-align: center;
}
#submitButton {
  border: none;
  outline: none;
  background: blue;
  color: white;
  padding: 0.7rem 1.2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  border: 1px solid purple;
}
.bordered {
  border: 1px solid black;
  padding: 20px 50px;
  margin-top: 30px;
  width: 20rem;
}
.videoContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}
#submitButton:hover {
  background: transparent;
  transition-duration: 0.7s;
  color: blue;
  cursor: pointer;
}
#title {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.9rem;
}
#description {
  height: 4rem;
}
textarea {
  resize: none;
}
video {
  width: 800px;
  margin-top: 20px;
  border-radius: 20px;
}
.chh {
  display: flex;
  justify-content: center;
}
textarea {
  height: 200px;
  width: 100%;
}
.upload {
  color: white;
  background: black;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.upload:hover,
label:hover {
  cursor: pointer;
}
#uploader {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}
#title {
  width: 100%;
}
