@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor&family=Alegreya+Sans+SC:wght@700&display=swap");
.pos {
  float: right;
}
#pic {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 20px;
}
.a {
  width: 90px;
  height: 90px;
}
#body h1 {
  font-family: Alegreya Sans SC;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;

  color: #000000;
}
.containGet {
  display: flex;
  justify-content: center;
}
.mainHeading {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}
.GetStarted {
  border: 0px solid transparent;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  background: blue;
  color: white;
  font-family: Actor;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 2rem;
}
#body p {
  font-size: 24px;

  display: flex;
  align-items: flex-end;
  margin-right: 30%;

  color: #000000;
}

#body {
  padding: 100px;
  display: flex;
}
#red {
  color: red;
}
@media only screen and (max-width: 1000px) {
  #body p {
    margin-right: 10%;
  }
  #body h1 {
    font-size: 50px;
  }
}
#illus {
  height: 700px;
  width: 1360px;
  position: absolute;
  top: 1rem;
  left: 20rem;
}
/* 1920/1080 */
